/* Global Font Setting */
body { 
    font-family: 'Inter', sans-serif; 
}

/* Utility to hide scrollbars but keep functionality (for the squad buttons) */
.scrollbar-hide::-webkit-scrollbar { 
    display: none; 
}

.scrollbar-hide { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
